/* != Module - Design Elements - reusable design elements that many components share */

/* !== Vertical Hairline Divider */

@mixin hairlineVert {
  content:"";
  display: block;
  position: absolute;
  width: 1px;
  left:50%;
}

@mixin standardShadow {
  box-shadow:0 4px 7px  rgba($clrBlack,0.1);  
}
