/* != Framework Module - LAYOUT */



@mixin subGrid($cols) {
  grid-template-columns:repeat($cols, 1fr);
  grid-column-gap: var(--colGap);
}


//
// @variables
//

$maxPageWidth: em(1000);
$fixedContentWidth: em(900);
$deviceWidth:device-width;

// % Width of a Column in the 12-col grid
$gridColPix:130;
$gridColVW: 8.333vw;

/*  !== Fixed Width Layout */
@mixin page-content-width {
  width:$fixedContentWidth;
  @include mq(empty) {
    width:100%;
    max-width:$maxPageWidth;
  }
}

/* !== Absolute Positing - Full Cover */

@mixin fullcover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/* !== Set opacity with legacy browser fallbacks */
@mixin opacity($trans) {
  -ms-filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})");
  opacity: $trans;
}

/* != Placeholders - Layout - CLEARFIX */

/* !== Modern Version - IE8+ */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
 * Placeholder version of the modern clearfix mixin
 */
%clearfix {
  @include clearfix;
}

/* !== Legacy Version - IE6/7+ */
%clearfixLegacy {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/*
 * Legacy support for inline-block in IE7 (maybe IE6)
 */
@mixin inline-block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
}

/* !== Grid Width Calculator */
@function gridCalcPix($numberOfCols) {
  @return #{$numberOfCols * $gridColPix}px;
}

@function gridCalcViewport($numberOfCols) {
  @return #{$numberOfCols * $gridColVW};
}
