/* != Global - Media Queries */

/* !== Breakpoints */

/*
What are the parameter values for each Media Query?
- Set these values without units, these'll be added in the mixin
*/
$bpCrumb: 380;
$bpYoda: 400;
$bpArtoo: 480;
$bpBB8:510;
$bpJawa:570;
$bpLeia: 640;
$bpRey:700;
$bpLuke: 770;
$bpLando:800;
$bpFinn:860;
$bpHan: 900;
$bpPhasma:1000;
$bpIG88:1048;
$bpVader:1100;
$bpKayToo:1140;
$bpChewie:1210;
$bpJabba:1500;
$bpDeathStar:1920;

/*

MQ Names - Star Wars Theme
==========================

Use the A-List names for main breakpoints and the B-List names for BPs for more specific rules and edge cases

Small
------------

- A-List
$bpYoda
$bpArtoo

- B-List
$bpEwok
$bpJawa

Medium
------------

- A-List
$bpLeia
$bpLuke
$bpHan
$bpThreepio

- B-List
$bpLando
$bpBoba
$bpLobot


Large
------------

- A-List
$bpVader
$bpChewie

- B-List
$bpJabba
$bpWampa
$bpRancor
$bpSarlacc


Very Large
------------

- A-List
$bpATAT
$bpStarDestroyer
$bpDeathStar

*/
