// Form Button Component styles

.ob_FormButton {
  border:none;
  cursor: pointer;

  &--basic,
  &--negative {
    font-size:em(20);
    font-weight: $bold;
    color:$clrWhite;
    padding:em(10, 20) em(20,20) em(12,20);
    border-radius:3px;
    transition:all $timeStandardLink;
  }

  &--basic {
    background:$clrGreen; 

    &:hover, &:focus, &:active {
      background:darken($clrGreen,10);
    } 
  }

  &--negative {
    background:$clrRed;
    font-size:em(16);

    &:hover, &:focus, &:active {
      background:darken($clrRed,15);
    }
  }
  
}